# Ignore Dart code only in these folders
quick_doc_app/lib/core/** linguist-vendored
quick_doc_app/lib/models/** linguist-vendored
quick_doc_app/lib/screens/** linguist-vendored
quick_doc_app/lib/theme/** linguist-vendored
quick_doc_app/lib/utils/** linguist-vendored
quick_doc_app/lib/widgets/** linguist-vendored
quick_doc_app/lib/services/** linguist-vendored
